@using RestTraining.Api.DTO
@using RestTraining.Web
@using RestTraining.Web.Helper
@model HotelDTO

@{
    var viewDateProvider = new ViewDataProviderForView(this);

    string action = string.Empty ;
    if (viewDateProvider.ControllerActionType == ControllerActionType.Create)
    {
        action = MVC.Hotels.ActionNames.Create;
    }
    if (viewDateProvider.ControllerActionType == ControllerActionType.Edit)
    {
        action = MVC.Hotels.ActionNames.Edit;
    }
}

@using (Html.BeginForm(action, MVC.Hotels.Name, FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Hotel</legend>
        
        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description, "LargeTextInput")
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.Label("Reservation type")
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.Type, Model.Type)
            @Html.ValidationMessageFor(model => model.Type)
        </div>
        <div class="editor-row">
            <div class="editor-label">
            </div><div class="editor-field">
                @Html.EditorFor(model => model.Image, "ImageUpload")
                @Html.ValidationMessageFor(model => model.Image)
            </div>
        </div>
        <div class="editor-row">
            @Html.ValidationSummary(true)
        </div>
    </fieldset>
    
    <div class="button-group">
        <input type="submit" value="Save" class="btn btn-primary btn-small" />
        @Html.ActionLink("Cancel", MVC.Hotels.Index(), new { @class="btn" })
        @if (viewDateProvider.ControllerActionType == ControllerActionType.Edit)
        {
            @Html.ActionLink("Edit Hotel Numbers", MVC.HotelNumbers.Index(@Model.Id), new { @class = "btn btn-primary btn-small" })
        }
    </div>
}