@using RestTraining.Web
@model RestTraining.Web.Models.BookingCreatedViewModel

@{
    var viewDataProvider = new ViewDataProviderForView(this);
}

    <h3>Booked Successfuly</h3>


<div class="form-horizontal">
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(model => model.BeginDate)</label>
        <div class="controls">
            @Model.BeginDate.ToShortDateString()
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(model => model.EndDate)</label>
        <div class="controls">
            @Model.EndDate.ToShortDateString()
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(model => model.Client.Name)</label>
        <div class="controls">
            @Html.DisplayFor(model => model.Client.Name)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(model => model.Client.PhoneNumber)</label>
        <div class="controls">
            @Html.DisplayFor(model => model.Client.PhoneNumber)
        </div>
    </div>

</div>

<h2>Hotel number</h2>
    @Html.DisplayFor(x => x.Client, "Client")

@Html.ActionLink("Delete this booking", MVC.BoundedBooking.Delete(viewDataProvider.HotelId, Model.BookingId))
@Html.ActionLink("Edit this booking", MVC.BoundedBooking.Edit(viewDataProvider.HotelId, Model.BookingId))


