@using RestTraining.Web
@model RestTraining.Api.DTO.BoundedPeriodDTO

@{
    var viewDataProvider = new ViewDataProviderForView(this);
}

@using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>BoundedPeriod</legend>
    
            @Html.HiddenFor(model => model.Id)
    
            <div class="editor-label">
                @Html.LabelFor(model => model.BeginDate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BeginDate)
                @Html.ValidationMessageFor(model => model.BeginDate)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.EndDate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.EndDate)
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>
    
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", MVC.BoundedPeriods.Index(viewDataProvider.HotelId))
    </div>