@using RestTraining.Common.DTO;
@using RestTraining.Web.Helper;
@model HotelDTO

@{
    Layout = null;
}

<li class="span4">
    <div class="thumbnail">
        <img style="width: @ImageHelper.maxImageWidth; height: @ImageHelper.maxImageHeight;" src="@ImageHelper.ToHtmlSrc(@Model.Image)">
        <div class="caption">
            <h3>@Model.Title
                <div class="btn-group" style="float:right">
                    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action(MVC.Hotels.Edit(Model.Id))" class="btn btn-small"><i class="icon-pencil"></i>Edit</a></li>
                        <li><a href="@Url.Action(MVC.Hotels.Delete(Model.Id))" class="btn btn-small"><i class="icon-trash"></i>Delete</a></li>
                        @if (Model.Type == HotelDTO.TypeDescriminator.Free)
                        {
                            <li><a href="@Url.Action(MVC.FreeBooking.Index(Model.Id))" class="btn btn-small"><i class="icon-trash"></i>Bookings</a></li>
                        }
                        @if (Model.Type == HotelDTO.TypeDescriminator.Bounded)
                        {
                            <li><a href="@Url.Action(MVC.BoundedBooking.Index(Model.Id))" class="btn btn-small"><i class="icon-trash"></i>Bookings</a></li>
                        }
                    </ul>
                </div>
            </h3>
            <p>@Model.Description</p>
            <p>
                @if (Model.Type == HotelDTO.TypeDescriminator.Free)
                {
                    @Html.ActionLink("Book now", MVC.FreeBooking.Create(Model.Id), new { @class = "btn btn-primary btn-large" })
                }
                @if (Model.Type == HotelDTO.TypeDescriminator.Bounded)
                {
                    @Html.ActionLink("Book Now", MVC.BoundedBooking.Create(Model.Id), new { @class = "btn btn-primary btn-large" })
                }
                @if (Model.Type == HotelDTO.TypeDescriminator.Bounded)
                {
                    @Html.ActionLink("Check-in Dates", MVC.BoundedPeriods.Index(Model.Id), new { @class = "btn btn-primary btn-large" })
                }
                <table class="table table-striped">
                    <thead>
                        <th>#</th>
                        <th>Item</th>
                        <th>Count</th>
                    </thead>
                    <tbody>
                    @foreach (var attraction in Model.HotelsAttractions)
                    {
                        <tr>
                            <td>@(Model.HotelsAttractions.IndexOf(attraction)+1)</td>
                            <td>@attraction.HotelsAttractionType.ToString()</td>
                            <td>@attraction.Count</td>
                        </tr>  
                    }
                    </tbody>
                </table>
            </p>
        </div>
    </div>
</li>
