@using RestTraining.Domain
@model List<WindowViewType>
@{
    Layout = null;
}
        <div class="editor-label">
            @Html.LabelFor(model => model)
        </div>
        <div class="editor-field">
            @foreach(WindowViewType d in Enum.GetValues(typeof(WindowViewType)))
            {
                <h3>@d.ToString();
                    @{
                        var isChecked = Model != null && Model.Contains(d);
                        if (isChecked)
                        {
                            <input type="checkbox" name="WindowViews" value="@d" checked>
                        }
                        else
                        {
                            <input type="checkbox" name="WindowViews" value="@d">
                        }
                    }
                </h3>
            }

        @Html.ValidationMessageFor(model => model)
        </div>