@using RestTraining.Api.DTO
@using RestTraining.Api.Domain.Entities
@model HotelNumberDTO

<h2>Edit hotel number</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(x => x.Id)
    
    <fieldset>
        <legend>Hotel number</legend>
            @Html.EditorFor(x => x.IncludeItems, MVC.Shared.Views.EditorTemplates.IncludeItemList)
            @Html.EditorFor(x => x.HotelNumberType, MVC.Shared.Views.EditorTemplates.HotelNumberType)
            @Html.EditorFor(x => x.WindowViews, MVC.Shared.Views.EditorTemplates.WindowViewTypeList)
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
<div class="include-item-source" style="display: none">
        @{
            var hidden = new IncludedItemDTO { Count = 1,  IncludeItemType = IncludeItemType.AirConditioner };
        }
        @Html.EditorFor(x => hidden, MVC.Shared.Views.EditorTemplates.IncludeItem, "IncludeItem")
</div>